<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/main.css"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
</head>
<body>
<section>
    <div class="wrapper">
        <header>
            <nav class="container">
                <div class="logo">
                </div>
                <div class="start">
                    <a asp-controller="Home" asp-action="Index" class="navLinks">Start</a>
                </div>
                <div class="about">
                    <a asp-controller="People" asp-action="Index" class="navLinks">People</a>
                </div>
                <div class="ajax">
                    <a asp-controller="React" asp-action="Index" class="navLinks">React</a>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="cities">
                        <a asp-controller="City" asp-action="Index" class="navLinks">Cities</a>
                    </div>
                    <div class="counties">
                        <a asp-controller="Country" asp-action="Index" class="navLinks">Countries</a>
                    </div>
                    <div class="languages">
                        <a asp-controller="Language" asp-action="Index" class="navLinks">Languages</a>
                    </div>
                }
                <partial name="_LoginPartial"/>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <span>&copy; Tim Weinitz @DateTime.Now.ToString("yyyy-MM-dd")</span>
        </footer>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="~/dist/site.entry.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>