@model ViewModels.ViewModels.CreateLanguageViewModel

<form asp-controller="Language" asp-action="Create" method="post" class="form">
    <h4 class="form-text">Add Language</h4>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
        <span class="alert-danger" asp-validation-for="Name"></span>
    </div>
    <button class="form-control btn btn-primary" type="submit">Create</button>
</form>